@import 'variables.scss', 'animate.scss', '../fontawesome-5/css/all.min.css';
@font-face {
  font-family: $theme-font-regular;
  src: url("../fonts/roboto/Roboto-Regular.ttf");
}
@font-face {
	font-family: $theme-font-light;
	src: url("../fonts/roboto/Roboto-Light.ttf");
}
@font-face {
	font-family: $theme-font-bold;
	src: url("../fonts/roboto/Roboto-Bold.ttf");
}
/*******************************************************************************
*
* General Deign
*
*****************************************************************************/
html,
body {
  width: 100%;
	height: 100%;
	line-height: 1.5;
	background-color: $theme-color-white;
	color: $theme-text-color-black;
	font-family: $theme-font-regular;
	font-size: $body-font-size;
	padding: 0;
	margin: 0;
	letter-spacing: 0.08em;
	scroll-behavior: smooth;
}
.foo-button {
	@extend .bounce;
	animation-duration: 5.5s;
  animation-iteration-count: infinite;
}

.section-bottom-links {
	border: 3px solid #CA0E0E;
	color: #fff;
	background-color: #CA0E0E;
	position: absolute;
	padding: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 20px;
	z-index: 10;
	right: 100px;
	bottom: 0;
	transition: .6s;
	font-weight: bold;

	&:hover {
		background-color: transparent;
		color: #CA0E0E;
		text-decoration: none;
		text-shadow: #fff;
	}
}
/******************************************************************************
* Nav Bar
*****************************************************************************/
.ij-nav {
	color: #000;
	background: transparent;
	transition: 1s;
	padding: 0;
	padding-left:10%;
	padding-right:10%;

	a.navbar-brand {
		color: #fff;

		img {
			width: 130px;
		}
	}

	.navbar-nav {
		
		.nav-item {
			margin-right: 10px;
			.nav-link {
				color: #fff;
				font-size: 18px;
				&.nuxt-link-active {
					opacity: 0.7;
				}
			}
			
		}
	}

	&.nav-fade-in {
		-webkit-animation: fadeIn 1s ease;
		animation:fadeIn 1s ease;
	}

	&.nav-fade-out {
		-webkit-animation: fadeOut 1s ease;
		animation:fadeOut 1s ease;
	}

	&.min-padding {
		padding: 0;
		padding-left: 15px;
		padding-right: 15px;
	}
}
/*******************************************************************************
*
* Transitions & Animations
*
*****************************************************************************/
@-webkit-keyframes hover {
	0% {
	 bottom:-10px
	}
	50% {
	 bottom:-20px
	}
	100% {
	 bottom:-10px
	}
 }

 @keyframes hover {
	0% {
	 bottom:-10px
	}
	50% {
	 bottom:-20px
	}
	100% {
	 bottom:-10px
	}
 }

.foo-hover {
	position:relative;
	-webkit-animation: hover 2s ease infinite;
	animation:hover 2s ease infinite;
}
.hover {
	position:relative;
	-webkit-animation: hover 2s ease infinite;
	animation:hover 2s ease infinite;
}
/******************************************************************************
* Pages
*****************************************************************************/
.page-enter-active, .page-leave-active {
	transition: .5s;
	animation-duration: 1s;
}
.page-enter-active {
	@extend .slideInLeft;
}
.page-leave-to {
	@extend .slideOutLeft;
	opacity: 0;
}

/*******************************************************************************
*
* Home Page
*
*****************************************************************************/
.hero {
	height: 100vh;
	overflow: hidden;
	padding: 0;
	position: relative;

	img {
		position: absolute;
		width: 100%;
		height: auto;
		transition: 1s;
		z-index: 0;
		&.fade-in-animation {
			-webkit-animation: fadeIn 6s ease;
			animation:fadeIn 6s ease;
		}

		&.fade-out-animation {
			-webkit-animation: fadeOut 6s ease;
			animation:fadeOut 6s ease;
		}
	}

	.hero-scroll-down-holder {
		width: 100%;
		z-index: 10;
		position: absolute;
		bottom: 20px;
		margin: 0;

		.clicker {
			cursor: pointer;

			p {
				margin: -15px;
				font-weight: bold;	
			}
		}	
	}
}
.col {
	padding: 0;
}

.artistes-parallax {
	overflow: hidden;
	position: relative;

	.artistes-parallax-image {
		width: 100%;
		img {
			width: 100%;
			z-index: 0;
			position: relative;
		}
	}
}

@import 'responsive.scss';