/******************************************************************************
* XL devices
*****************************************************************************/
@media (min-width: 1200px){
}
/******************************************************************************
* LG devices
*****************************************************************************/
@media (max-width: 1199px){
}
/******************************************************************************
* MD devices
*****************************************************************************/
@media (max-width: 991px){
}
/******************************************************************************
* SM devices
*****************************************************************************/
@media (max-width: 767px){
	/*******************************************************************************
	* Home Page
	*****************************************************************************/
	.hero {
		img {
			width: auto;
			height: 100%;
		}
	}

	.section-bottom-links {
		padding: 10px;
		font-size: 18px;
		z-index: 10;
		right: 10px;
	}
}
/******************************************************************************
* XS devices
*****************************************************************************/
@media (max-width: 576px){
}