$app-name: shecluded;
$theme-font-regular: roboto-regular;
$theme-font-light: roboto-light;
$theme-font-bold: roboto-bold;

$theme-color: #EC008C;
$theme-color-alt: #C40074;
$theme-color-black: #000;
$theme-color-white: #fff;
$theme-color-light-grey: #e7e7e7;
$theme-color-dark-grey: #777;

$theme-text-color: $theme-color;
$theme-text-color-black: #000;
$theme-text-color-grey: $theme-color-dark-grey;
$theme-text-color-white: #fff;
$theme-text-color-disabled: #BDBDBD;

$theme-shadow-regular: 0px 5px 30px rgba(236, 0, 140,0.15);
$theme-shadow-sm: 0px 5px 15px rgba(236, 0, 140,0.15);
$alt-font: 'Inter';

$theme-bg-white: #fff;
$theme-bg-grey: #fafafa;
$theme-bg-grey-mid: #DADADA;
$theme-bg: #EC008C;

$h1-font-size: 68px;
$h2-font-size: 42px;
$h3-font-size: 36px;
$h4-font-size: 24px;
$h5-font-size: 22px;
$h6-font-size: 18px;
$heading-xl: 7em;
$heading-l: 4em;

$body-font-size: 14px;
$body-font-size-md: 16px;
$body-font-size-lg: 18px;


$side-padding-xs: 30px;
$side-padding-sm: 100px;
$side-padding: 146px;
$side-padding-lg: 300px;
$side-padding-dashboard: 57px;